# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
click
curl
flask
flask-cors
gdal
geos
geotiff
hdf4
hdf5
itsdangerous
jinja2
jpeg
kealib
libgdal
libnetcdf
libtiff
markupsafe
mkl
numpy
openssl
pandas
pip
proj4
python
python-dateutil
pytz
setuptools
six
sqlite
tk
werkzeug
wheel
xerces-c
xz
zlib

